ul.nav.nav-list
  li.nav-header Operations
  - if (path == '/ops')
    li
      a(href='/ops/new') Registration
  - else
    li
      a(href='/ops')
        i.icon-th-list
        | Manifest
    - if (operation && !operation.isNew)
      li
        a(href='/ops/' + operation.id + '/edit')
          i.icon-edit
          | Edit Operation
    - if (path.indexOf('edit') !== -1)
      li
        a(href="#", onclick="$(this).next('form:first').submit()")
          i.icon-trash
          | Delete Operation
        form(action='/ops/' + operation.id, method='post')
          input(type='hidden', name='_method', value='DELETE')


